/.gitattributes
/240809.sln
/240809.sln.DotSettings.user
/Advanced
/App
/Apps
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/debug.log
/master
/README.local.md
/Library
/Logs
/obj
/UserSettings
/.idea
/Temp
/.vscode